:root {
    --bg-color: #262323;
    --text-color: #eee;
    --active: #000;
    --invert: #fff;
    --text-hover: #a9a9a9;
    --text-hover-1: #ccc;
    --text-hover-2: #eee;
    --text-hover-3: #eee;
    --text-hover-4: #ddd;
    --text-hover-5: #777;
    --btn-light-color: #353535;
    --btn-light-hover: #565656;
    --btn-light-click: #7B7B7B;
    --btn-dark-color: #4a4a4a;
    --btn-dark-hover: #7e7e7e;
    --btn-dark-click: #212121;
    --bs-border-color: #555;
    --bg-light: #353535;
    --bg-light-hover: #424242;
    --bs-btn-close-color: #ddd;
    --bs-btn-close-white-filter--me: invert(1) grayscale(100%) brightness(200%);

    --bg-image: url('/img/content/bg-dark-1.jpg');
}
