img {
    border-radius: 8px;
}

.container--post h1, .container--post h2, .container--post h3,
.container--post h4, .container--post h5, .container--post h6 {
    margin-top: 50px;
}

.btn-post--btn
{
    padding: 6px !important;
    border-radius: 22px;
}

/* Up 1 */
.post--font-size-u1 h1 {
    font-size: 45px;
}

.post--font-size-u1 h3 {
    font-size: 30px;
}

.post--font-size-u1 p {
    font-size: 23px;
}

/* Up 2 */
.post--font-size-u2 h1 {
    font-size: 53px;
}

.post--font-size-u2 h3 {
    font-size: 35px;
}

.post--font-size-u2 p {
    font-size: 25px;
}

/* Down 1 */
.post--font-size-d1 h1 {
    font-size: 35px;
}

.post--font-size-d1 h3 {
    font-size: 28px;
}

.post--font-size-d1 p {
    font-size: 18px;
}

/* Down 2 */
.post--font-size-d2 h1 {
    font-size: 30px;
}

.post--font-size-d2 h3 {
    font-size: 25px;
}

.post--font-size-d2 p {
    font-size: 16px;
}

@media(max-width: 994px) {
    .post--font-size-d1 h1 {
        font-size: 32px;
    }

    .post--font-size-u1 h1 {
        font-size: 37px;
    }

    .post--font-size-u2 h1 {
        font-size: 43px;
    }
}

@media(max-width: 400px) {
    .post--font-size-d1 h1 {
        font-size: 25px;
    }

    .post--font-size-d2 h1 {
        font-size: 22px;
    }

    .post--font-size-u1 h1 {
        font-size: 30px;
    }

    .post--font-size-u2 h1 {
        font-size: 32px;
    }
}

.button--download-game {
    border-radius: 40px;
}


.post--bg-image {
    background-size: cover;
    margin-bottom: 30px;
}

.post--bg-image-block {
    padding: 270px 0px 0 0px;
    padding-left: 50px;
    max-width: 700px;
    background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, .85));
}

.post--bg-image-top {
    padding-bottom: 195px;
}

.post--bg-image-bottom {
    padding-bottom: 20px;
}

.post--bg-image-block h1 {
    color: white;
}

.post--bg-image-block .post--start-p {
    color: rgba(255, 255, 255, .7) !important;
}
