.bg-white--adaptive
{
    background-color: var(--bg-color-invert);
}

.text-white--adaptive
{
    color: var(--text-color-invert) !important;
}

.bg-light--me
{
    background-color: var(--bg-light);
}
