.btn-rounded{
    border-radius: 8px;
}

.btn-light {
    /* --bs-btn-color: rgba(255, 255, 255, .5);
    --bs-btn-bg: rgba(255, 255, 255, .5);
    --bs-btn-border-color: rgba(255, 255, 255, .3); */

    --bs-btn-color: var(--text-invert);
    --bs-btn-bg: var(--btn-light-color);
    --bs-btn-border-color: var(--btn-light-color);
    --bs-btn-hover-color: var(--active);
    --bs-btn-hover-bg: var(--btn-light-hover);
    --bs-btn-hover-border-color: var(--btn-light-hover);
    --bs-btn-active-bg: var(--btn-light-click);
    --bs-btn-active-border-color: var(--btn-light-hover);
}

.btn-light--post {
    --bs-btn-color: rgba(255, 255, 255, .5);
    --bs-btn-bg: rgba(255, 255, 255, .5);
    --bs-btn-border-color: rgba(255, 255, 255, .3);

    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #565656;
    --bs-btn-hover-border-color: #565656;
    --bs-btn-active-bg: #7B7B7B;
    --bs-btn-active-border-color: #565656;
}

.btn-dark {
    --bs-btn-color: var(--text-color);
    --bs-btn-bg: var(--btn-dark-color);
    --bs-btn-border-color: var(--btn-dark-color);
    --bs-btn-hover-color: var(--active);
    --bs-btn-hover-bg: var(--btn-dark-hover);
    --bs-btn-hover-border-color: var(--btn-dark-hover);
    --bs-btn-active-bg: var(--btn-dark-click);
    --bs-btn-active-border-color: var(--btn-dark-hover);
}

.icon {
    color: var(--text-color);
}

.me-btn-1 {
    margin-right: 7px;
}

.btn-outline-light
{
    background-color: rgba(255, 255, 255, .0125) !important;
    backdrop-filter: blur(15px);
}

.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, .25) !important;
    backdrop-filter: blur(15px);
}

.btn-outline-light:focus {
    background-color: rgba(255, 255, 255, .25) !important;
    backdrop-filter: blur(15px);
}
