@font-face {
    font-family: Unbounded;
    font-style: normal;
    src: local("Directors"),
        url("/fonts/Unbounded-Regular.woff2") format("woff2");
}

@font-face {
    font-family: NotoSans-Regular;
    font-style: normal;
    src: local("Directors"),
        url("/fonts/NotoSans-Medium.woff2") format("woff2");
}

@font-face {
    font-family: NotoSans-Bold;
    font-style: bold;
    src: local("Directors"),
        url("/fonts/NotoSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: NotoSans-Light;
    font-style: italic;
    src: local("Directors"),
        url("/fonts/NotoSans-Light.woff2") format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Unbounded;
}

p,
div,
nobr,
a,
nav,
main,
header,
footer {
    font-family: NotoSans-Regular;
}

b {
    font-family: NotoSans-Bold;
}
