.footer--main {
    margin-top: 50px;
    padding-bottom: 30px;
    backdrop-filter: blur(0.1rem);
}

.footer-icon
{
    fill: var(--invert);
    transition: .3s;
}

.footer--icon-link:hover
.footer-icon {
    fill: var(--text-hover);
}
