.footer--main {
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 10px;
    backdrop-filter: blur(0.3rem);
}

.footer-icon
{
    fill: var(--invert);
    transition: .3s;
}

.footer-icon-vk {
    fill: #0077FF;
    transition: .3s;
}

.footer-icon-tg {
    fill: #2d9cd6;
    transition: .3s;
}

.footer-icon-dzen {
    fill: #282c33;
    transition: .3s;
}

.footer--icon-link:hover
.footer-icon,
.footer--icon-link:hover
.footer-icon-tg,
.footer--icon-link:hover .footer-icon-vk,
.footer--icon-link:hover .footer-icon-dzen {
    fill: var(--text-hover);
}

.footer--more
{
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 0;
    margin-right: 8px;
    margin-left: 8px;
    padding: 0;
}

.footer--more-link {
    color: var(--text-hover);
    border: 0;
    border-bottom: 1px #d9d9d9 solid !important;
    text-decoration: none;
}

.footer--more-link:hover {
    color: var(--text-hover-1);
    border-bottom: 1px #d9d9d9 solid;
}

.footer--text-invert
{
    color: var(--text-color);
}
