.header--main {
    margin-bottom: 30px;
    backdrop-filter: blur(0.1rem);
}

.header--nav-link
{
    text-decoration: none;
    color: var(--text-color);
    padding: 0;
    margin: 0;

    border-bottom: 1px #dedede solid;

    transition: .3s;
}

.header--nav-link:hover,
.header--nav-link:focus {
    border-bottom: 1px #555 solid;
    color: var(--text-color);
}

.header--best-p
{
    padding-top: 11px;
    padding-bottom: 11px;
}

.header--nav-link-active,
.header--nav-link-active:hover,
.header--nav-link-active:focus
{
    text-decoration: none;
    color: var(--text-color);
    padding: 0;
    margin: 0;

    border-bottom: 1px #555 solid;
}
