@media(max-width: 1418px) {
    .header--adaptive-nav {
        display: none !important;
    }

    .header--logo-pc {
        display: none;
    }
}

@media(min-width: 1419px) {
    .header--adaptive-more {
        display: none !important;
    }
}

@media(max-width: 864px) {
    .header--adaptive-button {
        display: none !important;
    }
}

@media(min-width: 540px) {
    .header--logo-mobile {
        display: none;
    }
}
