@media(max-width: 1028px) {
    .header--logo-pc {
        display: none;
    }
}

@media(max-width: 800px) {
    .header--adaptive-nav {
        display: none !important;
    }
}

@media(max-width: 864px) {
    .header--adaptive-button {
        display: none !important;
    }
}

@media(min-width: 1029px) {
    .header--logo-mobile {
        display: none;
    }
}

.header--logo-pc {
    transition: .2s;
}

.header--logo-pc:hover,
.header--logo-pc:focus {
    transform: scale(1.02, 1.02) rotate(-2deg);
}
