.header--main {
    margin-bottom: 30px;
    backdrop-filter: blur(0.3rem);
}

.header--nav-link
{
    text-decoration: none;
    color: var(--text-color);
    padding: 0;
    margin: 0;

    border-bottom: 1px var(--nav-link-hover) solid;

    transition-property: border-bottom;
    transition: .3s;
}

.header--nav-link:hover,
.header--nav-link:focus {
    border-bottom: 1px var(--nav-link-active) solid;
    color: var(--text-color);
}

.header--best-p
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.header--nav-link-active,
.header--nav-link-active:hover,
.header--nav-link-active:focus
{
    text-decoration: none;
    color: var(--text-color);
    padding: 0;
    margin: 0;

    border-bottom: 1px var(--nav-link-active) solid;
}

.header--invert-bg
{
    background-color: var(--bg-color-invert);
}

.header--logo-margin
{
    margin-right: 190px;
}

.header--logo{
    width: 240px;
}

@media(max-width: 864px) {
    .header--logo-margin {
        margin-right: 0px;
        display: flex !important;
    }
}

@media(max-width: 660px) and (min-width: 540px) {
    .header--logo {
        width: 200px;
    }
}

@media(max-width: 539px) and (min-width: 275px) {
    .header--logo {
        width: 140px;
    }
}

@media(max-width: 274px) {
    .header--logo {
        width: 100px;
    }
}

.header--button
{
    padding: 9px 33px !important;
    border-radius: 12px !important;
}
