@media(max-width: 882px) {
    .header--adaptive-nav {
        display: none !important;
    }
}

@media(min-width: 883px) {
    .header--adaptive-more {
        display: none !important;
    }
}

@media(max-width: 490px) {
    .header--adaptive-best {
        display: none !important;
    }
}

@media(max-width: 539px) {
    .header--logo-pc {
        display: none;
    }
}

@media(min-width: 540px) {
    .header--logo-mobile {
        display: none;
    }
}
