.link
{
    color: var(--text-color);
    text-decoration: none;
    transition: background-color .2s;
    border-bottom: 0px var(--text-hover) solid;
    text-decoration: underline;
    text-underline-offset: .25rem;
    text-decoration-style: solid;
    text-decoration-color: var(--text-hover);
    background: none;
}

.link:hover {
    border-bottom: 0px var(--text-hover-1) solid;
    background-color: var(--link-bg-color);
    text-decoration: none;
}

.link:focus {
    border-bottom: 0px var(--text-hover-1) solid;
    text-decoration: none;
}

.link-muted {
    color: var(--text-muted);
    text-decoration: none;
    transition: .3s;
    border-bottom: 1px var(--text-hover) solid;
}

.link-muted:hover {
    color: var(--text-hover-1);
    border-bottom: 1px var(--text-hover-1) solid;
}
