.link
{
    color: var(--text-color);
    text-decoration: none;
    transition: background-color .2s;
    border-bottom: 0px var(--text-hover) solid;
    text-decoration: underline;
    text-underline-offset: .25rem;
    text-decoration-style: solid;
    text-decoration-color: var(--text-hover);
    background: none;
}

.link:hover {
    color: var(--text-color);
    border-bottom: 0px var(--text-hover-1) solid;
    background-color: var(--link-bg-color);
    text-decoration: none;
}

.link:focus {
    color: var(--text-color);
    border-bottom: 0px var(--text-hover-1) solid;
    text-decoration: none;
}

.link-white {
    color: #fff;
    text-decoration: none;
    transition: background-color .2s;
    border-bottom: 0px #a9a9a9 solid;
    text-decoration: underline;
    text-underline-offset: .25rem;
    text-decoration-style: solid;
    text-decoration-color: #a9a9a9;
    background: none;
}

.link-white:hover {
    border-bottom: 0px #ccc solid;
    background-color: rgba(255, 255, 255, .35);
    text-decoration: none;
}

.link-white:focus {
    border-bottom: 0px #ccc solid;
    text-decoration: none;
}

.link-icon {
    color: var(--text-hover);
    fill: var(--text-hover);
    transition: .3s;
}

.link-icon:hover,
.link-icon:focus {
    color: var(--text-color);
    fill: var(--text-color);
}

.link-icon--white {
    color: var(--text-hover);
    fill: var(--text-hover);
    transition: .3s;
}

.link-icon--white:hover,
.link-icon--white:focus {
    color: #fff;
    fill: #fff;
}
