.main--card
{
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
}

.main--main-card-in {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.main--main-card-out {
    padding-top: 400px;
}

.main--card-link
{
    text-decoration: none;
    color: var(--text-color);
}
