.main--card
{
    border-radius: 8px;
    background-size: cover;
    background-position: center center;

    margin-bottom: 30px;
}

@media(min-width: 992px) {
    .main--card-margin {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.main--card:hover {
    background-size: 105%;
}

.main--main-card-in {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.main--main-card-out {
    padding-top: 400px;
    border-radius: 8px;

    backdrop-filter: brightness(0.8);
    background: linear-gradient(-180deg, transparent, rgba(0, 0, 0, .65));

    transition: .3s;
}

.main--card-link
{
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.main--card:hover
.main--card-link
{
    text-shadow: .5rem .5rem 1rem rgba(var(--bs-body-color-rgb), .35);
}

.main--main-card-out:hover
{
    backdrop-filter: brightness(1);
    background: linear-gradient(-180deg, transparent, rgba(0, 0, 0, .6));
}
