.main--card
{
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
}

.main--card:hover {
    background-size: 105%;
}

.main--main-card-in {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.main--main-card-out {
    padding-top: 400px;
    border-radius: 8px;

    backdrop-filter: blur(10px);
    background: linear-gradient(-180deg, transparent, rgba(0, 0, 0, .65));
}

.main--card-link
{
    text-decoration: none;
    color: var(--text-color);
    transition: .3s;
}

.main--card-link:hover {
    text-shadow: .5rem .5rem 1rem rgba(var(--bs-body-color-rgb), .35);
}
