.post--font-size
{
    font-size: 1.25rem !important;
}

.post--start-p
{
    color: var(--text-muted);
}

.post--start
{
    margin-bottom: 30px;
}

.post--start-img
{
    margin-bottom: 30px;
}

.main--post
{
    margin-top: 35px;
    padding-top: 15px;
}

.post--more
{
    padding-top: 50px;
    font-size: 16px;
}

.post--more-text {
    color: var(--text-muted);
    font-family: NotoSans-Light;
}
